<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
        <% tournament.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Организатор %>
    <%= form.text_field :organizer %>
  </div>

  <div class="field">
    <%= form.label :'Дата начала' %>
    <%= form.text_field :date_from %>
  </div>

  <div class="field">
    <%= form.label :'Дата окончания' %>
    <%= form.text_field :date_to %>
  </div>

  <div class="field">
    <%= form.label :Город %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :'Название мероприятия' %>
    <%= form.text_field :event_name %>
  </div>

  <div class="checkbox">
    <%= form.label :is_photo_report do %>
      <%= form.check_box :is_photo_report %>Фотоотчет
    <% end %>
  </div>

  <div class="checkbox">
    <%= form.label :is_video_report do %>
      <%= form.check_box :is_video_report %>Видеоотчет
    <% end %>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
