<diw class="row">
  <h1 align="center">Таблица соревнований</h1> <br/>
  <div class="pull-right range-query">
    <%= form_tag tournaments_path, method: :get do %>
      <%= label_tag :'Дата' %>
      <%= text_field_tag 'search[date_from]', @search.date_from %>
      <%= label_tag :'Город' %>
      <%= text_field_tag 'search[city]', @search.city %>
      <%= submit_tag 'Поиск', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <%= link_to 'Создать соревнование', new_tournament_path, class: 'btn btn-primary pull-left' %>
</diw>

<%#= link_to 'Destroy all Tournaments', {controller: :tournaments, action: :destroy_all}, data: {confirm: 'Are you sure?'} %>

<%#= button_to 'Parse Tournament', button_path, method: :post, data: {confirm: 'Are you sure?'} %>
<% if @tournaments.nil? || @tournaments.empty? %>
  <div class="container-fluid"><h3><i>Ничего не найдено</i></h3></div>
<% else %>

  <table class="table table-condensed table-bordered table-hover">
    <thead>
    <tr>
      <th>Организатор</th>
      <th>Дата начала</th>
      <th>Дата окончания</th>
      <th>Город</th>
      <th>Название соревнования</th>
      <th>Положение</th>
      <th>Тема на форуме</th>
      <th>Фотоотчет</th>
      <th>Видеоотчет</th>
      <!--      <th colspan="9"></th>-->
    </tr>
    </thead>

    <tbody>

    <%= render @tournaments %>

    </tbody>
  </table>
<% end %>

<br>




